.list_rate{
  display:flex;
  flex-direction: row;
  height: 84px;
  .list_rate_left{
    width: 40px;
    height: 40px;
  }
  .list_rate_right{
    flex: 1;
    // align-self: center;
    .list_task_name{
      margin: 0px;
      padding-top: 16px;
      height: 22px;
      text-align: left;
    }
  }
}